<!DOCTYPE html>
<html>
<head>
    <title>Guess the Capital</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>What's the capital of {{ country }}?</h1>
    <form action="/game" method="post">
        <input type="text" name="answer">
        <input type="submit" value="Guess">
    </form>
    <p>Score: {{ session['score'] }}</p>
    <p>Lives: {{ session['lives'] }}</p>
    <a href="{{ url_for('index') }}" class="btn btn-primary">Back to Home</a>

</body>
</html>

